.grid{
    width: 600px;
    height: 600px;
    display: flex;
    flex-wrap: wrap;
}

.grid div{
    width:40px;
    height:40px;
}
.alien{
    background:url("./img/alien.gif");
    background-size: cover;
}
.player{
    background:url("./img/player.png");
    background-size: cover;
}
.bullet{
    background:url("./img/bullet.png");
    background-size: cover;
}
.boom{
    background:url("./img/boom.png");
    background-size: cover;
}
.dead{
    background:url("./img/dead.png");
    background-size: cover;
}
.deadtext{
    background:url("./img/deadtext.png");
    background-size:contain;
    background-repeat: no-repeat;
    justify-content: center;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}